@font-face { 
  font-family: 'Bold';
  src: url('../fonts/BenzinBold.ttf'); 
}

@font-face { 
  font-family: 'Ext';
  src: url('../fonts/BenzinExtraBold.ttf'); 
}

@font-face { 
  font-family: 'Medium';
  src: url('../fonts/BenzinMedium.ttf'); 
}

@font-face { 
  font-family: 'Regular';
  src: url('../fonts/BenzinRegular.ttf'); 
}

@font-face { 
  font-family: 'SemiBold';
  src: url('../fonts/BenzinSemibold.ttf'); 
}